.chatroom_button_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
    position: fixed;
    right: 5px;
    top: 50px;
    z-index: 100;
    box-shadow: 0 0 20px black;
    background-color: green;
    padding: 5px;
}

.chatroom_button_grid > button {
    margin: 10px;
    padding: 2px;
    font-size: 11px;
    text-align: center;
    border-radius: 10px;
}
.chatroom_button_grid > button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 7px black;
}
.chatroom_button_grid > P{
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.sent_questions{
    position: relative;
}
.sent_questions_text{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size:15px;
    background-color:green;
    border-radius:20%;
    color: black;
    padding:5px;
}